body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
}
body header {
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
body header h1 {
  text-align: center;
}
body main {
  margin: 1em;
}
body main input[type=text], body main input[type=number] {
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 0.3em 0;
  padding: 1px 2px;
}
body main input[type=text]::-moz-placeholder, body main input[type=number]::-moz-placeholder {
  color: #3f3e3e;
}
body main input[type=text]:-ms-input-placeholder, body main input[type=number]:-ms-input-placeholder {
  color: #3f3e3e;
}
body main input[type=text]::placeholder, body main input[type=number]::placeholder {
  color: #3f3e3e;
}
body main input[type=text]:focus, body main input[type=text]:focus-visible, body main input[type=number]:focus, body main input[type=number]:focus-visible {
  border-color: #fff;
  outline: 2px solid #1a73e8;
}
body main input[type=text].error, body main input[type=number].error {
  border-color: #f00;
  outline: 1.5px solid #f00;
  background-color: #ffcccc;
}
body main p {
  margin: 0.5em;
}
body main button {
  padding: 0.5em 1em;
  background-color: #1a73e8;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  transition: 0.3s;
}
body main button:hover:not(:disabled) {
  box-shadow: 1px 1px 5px 1px #999;
  background-color: #1861c2;
}
body main button:disabled {
  background-color: #ccc;
  color: #aaa;
  cursor: not-allowed;
}
body main #export-box {
  margin: 1em;
  padding: 1em;
  border: 1px solid #ccc;
}
body main #error-message-1 {
  transition: 0.5s;
}
body main #description {
  margin: 1em 0;
  padding: 1rem;
  border-top: 1px solid #ccc;
}
body main #description h1, body main #description h2, body main #description h3, body main #description h4, body main #description h5, body main #description h6 {
  margin: 0;
  padding: 0;
}
body main #policy {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
  width: 80%;
}
body main #policy #policy-content {
  margin: 0 0 10em 0;
  padding: 1em;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 14px 2px rgba(0, 0, 0, 0.8);
  background-color: #fff;
  transition: opacity 0.3s;
}
body main #policy #policy-content #close-policy {
  position: absolute;
  top: 10px;
  right: 10px;
}
body main #policy #policy-content #close-policy #close-policy-button {
  color: #000;
  border: none;
  background-color: transparent;
  margin: 0;
  padding: 0;
  font-size: 3rem;
  cursor: pointer;
}
body main #policy #policy-content #close-policy #close-policy-button:hover {
  box-shadow: none;
}
body main #policy h2 {
  margin: 0;
  padding: 0.5em 1rem;
  border-bottom: 1px solid #ccc;
}
body footer {
  background-color: #eee;
  padding: 1em;
  margin-top: 1em;
  border-top: 0.3em solid #ff8c00;
  text-align: center;
}
body #check-cookie {
  position: fixed;
  bottom: 0;
  left: 0;
  margin: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ccc;
}
body #check-cookie .content p {
  margin: 0.1em 0.3em;
  padding: 0;
}
body #check-cookie .content h4 {
  margin: 0.1em 0.3em;
  padding: 0;
}
body #check-cookie .content.button-area {
  margin: 0.5em;
}
body #check-cookie .content.button-area button {
  width: 10rem;
  padding: 0.5em 1em;
  margin: 0.1em 0;
  background-color: #1a73e8;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  transition: 0.3s;
}
body #check-cookie .content.button-area button:hover:not(:disabled) {
  box-shadow: 1px 1px 5px 1px #999;
  background-color: #1861c2;
}
body #check-cookie .content.button-area button:disabled {
  background-color: #ccc;
  color: #aaa;
  cursor: not-allowed;
}
body .red {
  color: #f00;
}
body .italic {
  font-style: italic;
}
body .bold {
  font-weight: bold;
}/*# sourceMappingURL=style.css.map */